@inject ITitleService _titleService 
@inject IGenreService _genreService 
@inject IStudioService _studioService 
@inject IMediaService _mediaService 
@inject IMapper _mapper;

<Button Type="Primary" OnClick="ShowModal">Редактировать</Button>

<Modal Width="1000" AfterClose="async () => { if (OnTitleEdited.HasDelegate) { await OnTitleEdited.InvokeAsync();}}" Visible="_visible" 
    OnCancel="@HandleCancel" Footer="null">
    <h3 class="text-center">Редактирование аниме</h3>
    <Form Model="MappedTitle" OnFinish="OnFinish">
        <FormItem Required Label="Название аниме" Style="margin-top: 30px;">
            <Input @bind-Value="@MappedTitle.Name"/>
        </FormItem>

        <FormItem Required Label="Описание" Style="margin-top: 30px;">
            <TextArea @bind-Value="@MappedTitle.Description"></TextArea>
        </FormItem>

        <FormItem Required Label="Длительность эпизода" Style="margin: 20px 0;">
            <TimePicker TValue="TimeOnly?" @bind-Value="@MappedTitle.Duration"/>
        </FormItem>

        <FormItem Required Label="Начало выхода" Style="margin: 20px 0;">
            <DatePicker TValue="DateTimeOffset" DefaultValue="DateTimeOffset.UtcNow" Picker="@DatePickerType.Date" @bind-Value="@MappedTitle.StartDateTitle"/>
        </FormItem>

        <FormItem Required Label="Конец выхода" Style="margin: 20px 0;">
            <DatePicker TValue="DateTimeOffset?" DefaultValue="DateTimeOffset.UtcNow" Picker="@DatePickerType.Date" @bind-Value="@MappedTitle.EndDateTitle"/>
        </FormItem>

        <FormItem Required Label="Количество серий">
            <AntDesign.InputNumber Style="width:200px" @bind-Value="@MappedTitle.LastEpisode" DefaultValue="1" Min="0" Max="9999"></AntDesign.InputNumber>
        </FormItem>

        <FormItem Required Label="Тип аниме" Style="margin: 20px 0;">
            <EnumSelect TEnum="TypeTitle" @bind-Value=@MappedTitle.Type/>
        </FormItem>

        <FormItem Required Label="Статус аниме" Style="margin: 20px 0;">
            <EnumSelect TEnum="StatusTitle" @bind-Value=@MappedTitle.Status/>
        </FormItem>

        <FormItem Required Label="Возрастная категория" Style="margin: 20px 0;">
            <EnumSelect TEnum="Rating" @bind-Value=@MappedTitle.Rating/>
        </FormItem>

        <FormItem Label="Студия" Style="margin: 20px 0;">
            <Select TItem="ViewStudio"
                    TItemValue="Guid?"
                    LabelName="@nameof(ViewStudio.Name)"
                    ValueName="@nameof(ViewStudio.Id)"
                    @bind-Value="@MappedTitle.StudioId"
                    DataSource="Studios"
                    EnableSearch/>
        </FormItem>
        
        <FormItem Label="Жанры" Style="margin: 20px 0;">
            <Select TItem="ViewGenre"
                    TItemValue="ViewGenre"
                    Mode="multiple"
                    @bind-Values="@SelectedGenres"
                    EnableSearch>
                <SelectOptions>
                    @foreach (var genre in Genres)
                    {
                        <SelectOption TItemValue="ViewGenre" TItem="ViewGenre" Value=@genre Label=@genre.Name/>
                    }
                </SelectOptions>
            </Select>
        </FormItem>

        <FormItem Label="Постер аниме">
            <InputFile id="updateImage" OnChange="@UpdateImage" hidden/>
            <Upload Name="file" FileList="fileList">
                <label class="ant-btn" for="updateImage">
                    <Icon Type="upload"/>
                    Прикрепить файл
                </label>
            </Upload>
            <Spin Style="margin-top: 10px; margin-bottom: 10px;" Spinning=@_fileLoading></Spin>
        </FormItem>

        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Редактировать
            </Button>
        </FormItem>
    </Form>
</Modal>

@code {
    [Parameter] public ViewTitle Title { get; set; }
    [Parameter] public EventCallback OnTitleEdited { get; set; }
    
    public bool _visible;
    public bool _fileLoading;
    List<UploadFileItem> fileList = new();
    public FormMedia Image { get; set; }
    public FormTitle MappedTitle = new();
    public IEnumerable<ViewGenre> Genres = new List<ViewGenre>();
    public List<ViewStudio> Studios = new();
    public IEnumerable<ViewGenre> SelectedGenres = new List<ViewGenre>();

    private async Task ShowModal()
    {
        _visible = true;
        MappedTitle = _mapper.Map<FormTitle>(Title);
        Genres = await _genreService.GetGenres();
        Studios = await _studioService.GetStudios();
        SelectedGenres = Genres.Where(genre => MappedTitle.Genres.Select(genre2 => genre2.Id).Contains(genre.Id)).ToList();
        if (MappedTitle.PictureId != null)
        {
            fileList = new()
            {
                new()
                {
                    FileName = MappedTitle.Picture.FileName,
                }
            };
        }
    }

    private void HandleCancel()
    {
        _visible = false;
    }
    
    private async Task OnFinish(EditContext context)
    {
        var model = context.Model as FormTitle;
        await _titleService.UpdateTitle(Title.Id, model);
        _visible = false;
    }
    
    private async Task UpdateImage(InputFileChangeEventArgs e)
    {
        _fileLoading = true;
        StateHasChanged();

        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(e.File.Size).CopyToAsync(memoryStream);
        var imageBytes = memoryStream.ToArray();

        Image = new FormMedia()
        {
            ContentType = file.ContentType,
            FileName = file.Name,
            FileBytes = imageBytes,
        };

        fileList = new List<UploadFileItem>()
        {
            new()
            {
                FileName = file.Name,
                Size = file.Size
            }
        };

        _fileLoading = false;
        MappedTitle.PictureId = null;
        MappedTitle.Picture = Image;
        StateHasChanged();

    }
}